################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SE-Garage/v16/.suo
/SE-Garage/.vs/SE-Garage/v16/.suo
